@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
*{
    font-family: 'Lato', sans-serif;
}


body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
}

.h-custom{
    border-top: 1px solid #002f4c;
}

.thumbnail img {
    width: 340px;
}

/*@media(max-width: 720px) {*/
    /*.thumbnail img {*/
        /*height: auto;*/
    /*}*/
/*}*/

/*
 * Css logo e Menu
 * -----------------
 */
header #topo_preto{
    margin-top: -1px;
    width: 100%;
    height: 30px;
    background-color: #005E89;
}
header #topo_preto i{
    margin-top: 5px;
    font-size: 1.1em;
    color: #fff;
}

header #custom-bootstrap-menu{
    background: rgba(255, 255, 255, 0.90);
}

.nav.navbar-nav-custom{
      margin-top: 15px;
}

.navbar-default .navbar-nav.navbar-nav-custom li a {
    color: #000000;
}

.navbar-default .navbar-nav.navbar-nav-custom li .caret {
    position: absolute;
    left: 100%;
    top: 30%;
    bottom: 0;

    /*margin-top: 20px;*/
}

.navbar-default .navbar-nav.navbar-nav-custom>li>a:focus, .navbar-default .navbar-nav.navbar-nav-custom>li>a:hover {
    color: #005E89;
}
.nav.nav.navbar-nav-custom>li>a:focus,.nav.navbar-nav-custom>li>a:hover {
    color: #005E89;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 19px;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    /*padding-top: 22px;*/
    padding-left: 58px;
    font-size: 12px;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>#user-profile {
    color: #000000;
    width: auto;
    /*border-right: 1px solid rgba(255, 255, 255, 0.19);*/
    font-weight: 700;
    font-size: 12px;
}
.navbar-default .navbar-nav #user-profile p {
    padding-left: 20px;

}
.navbar-default .navbar-nav #user-profile img {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 8px;
    left: 25px;
    padding: 1px;
}


.dropdown-menu.dropdown-menu-custom>li>a {
    color:#fff;
}

.dropdown-menu.dropdown-menu-custom>li>a:focus, .dropdown-menu.dropdown-menu-custom>li>a:hover {
    color:#fff ;
    text-decoration: none;
    border-radius: 3px 3px;
    background-color: #005E89;
    height: 26px;
}

/* HOVER.CSS: Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    top: 65px;
    background: #005E89;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
/* Underline From Left */


#inicial{
    background-color: #2b669a;
    height: auto;
    width: 100%;
    margin-top: -20px;
}


/* ------------------------------------------------------------------------------------------------------------ */
/*                                           Parte das noticias                                                 */
/* ------------------------------------------------------------------------------------------------------------ */

#noticias{
    background-image: url("http://slodive.com/wp-content/uploads/2011/05/white-backgrounds/canvas-texture-paper.jpg");
    height: 750px;
    width: 100%;
}
#noticias .topo_noticias{
    height: 100px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    margin-top: 40px;
}
#noticias .bloco_noticias{
    margin-top: 25px;
}
#noticias h1 p{
    font-family: 'Raleway';
    font-weight: bolder;
}
#noticias #subtitulo{
    text-align: center;
    font-size: 30px;

}

#noticias .espacamento{
    margin-top: 65px;
}


#myCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background:rgba(0,0,0,0.7);
    text-shadow:none;
}

#myCarousel .list-group {
    position:absolute;
    top:0;
    right:0;
}
#myCarousel .list-group-item {
    border-radius:0px;
    cursor:pointer;
}
#myCarousel .list-group .active {
    background-color:#eee;
}

@media (min-width: 992px) {
    #myCarousel {padding-right:33.3333%;}
    #myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
    .carousel-caption p,
    #myCarousel .list-group {display:none;}
}


#myCarousel .list-group .active {
    background-color: rgba(0, 94, 137, 0.7);
    color: #000;
}
#myCarousel .carousel-caption h4 a{
    color: #fff;
    font-weight: bold;
}
#myCarousel .carousel-caption p{
    margin: 0 0 10px;
    text-align: justify;
}

/* ------------------------------------------------------------------------------------------------------------ */
/*                                           Parte da Equipe                                                    */
/* -------------------------------------------------------------------------------------------------------------*/

#equipe{
    width: 100%;
    height: auto;
    background-color: #002f4c;
}
#equipe .espacamento-equipe{
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 40px;
}
#equipe .espacamento-equipe h1{
    font-weight: 700;
}
#equipe .card .bio a{
    color: #002f4c;
    text-decoration: none;
    font-size: 15px;
}
#equipe .card .bio a:hover{
    color: #fff;
    background-color: #002f4c;
    text-transform: uppercase;
}

.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
    margin-top: 10px;
}
.card {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background-color: rgb(192,192,192);
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color:#fff;
    width: 480px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
    margin-bottom: 30px;
}
.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}
.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}
.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.firstinfo .profileinfo {
    padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    font-style: italic;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.2;
    font-style: initial;
    text-align: center;
}

@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}

@media screen and (max-width: 600px){
    .card {
        width: 310px;
    }
    .badgescard {
        width: 310px;
    }
}



/* --------------------------------------------------------------------------------------------- */
.owl-theme .owl-controls {
    margin-top: 35px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------ */
/*                                           Parte dos Cursos                                                   */
/* ------------------------------------------------------------------------------------------------------------ */


#cursos{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}
#cursos .espacamento{
    margin-top: 50px;
    margin-bottom: 20px;
}
#cursos .titulo-secao{
    text-align: center;
    color: #007bff;
    font-weight: 700;
}
#cursos .titulo-cursos{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #007bff;
}
#cursos a{
    text-decoration: none;
}

/*#cursos .titulo-cursos:hover{*/
    /*color: #E84D1C;*/
/*}*/

.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
    background-color: rgba(220,220,220, 1);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url("../imagens/new.png");
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #007bff;
    border-color: #c8c8c8;
}




/* ------------------------------------------------------------------------------------------------------------ */
/*                                        Parte dos colaboradores                                               */
/* ------------------------------------------------------------------------------------------------------------ */

#colaboradores{
    background: url("../imagens/apoio.png") no-repeat;
    height: 285px;
    width: 100%;
}
#colaboradores .texto-ini{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 35px;
}
#colaboradores #texto2{
    margin-top: -10px;
    margin-left: 26px;
}

#colaboradores img{
    height: 100px;
    width: 140px;
}
#colaboradores .espacamento{
    margin-top: -145px;
    margin-left: 50px;
}
#colaboradores #owl-demo-apoio .item{
    margin: 3px;
    width: 180px;
    margin-top: 15px;
    margin-left: 10px;
}
#colaboradores #owl-demo-apoio .item img{
    display: block;
    height: 127px;
    width: 140px;
    margin-left: 17px;
    padding-top: 16px;
    -webkit-transform: skew(-1deg);
    -moz-transform: skew(-1deg);
    -ms-transform: skew(-1deg);
    -o-transform: skew(-1deg);
    transform: skew(-5deg);
}

#colaboradores .item-custom{
    background-color: #ffffff;
    height: 140px;
    width: 160px;
    border-radius: 15px;
    box-shadow: 2.828px 2.828px 4px 0px rgba(8, 8, 8, 0.4);
    -webkit-transform: skew(5deg);
    -moz-transform: skew(5deg);
    -ms-transform: skew(5deg);
    -o-transform: skew(5deg);
    transform: skew(5deg);
}


/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

#colaboradores #b-left, #b-right{
    background-color: rgba(0,0,0,.0);
    border: none;
    color: rgb(0, 94, 137);
    font-size: 55px;
    display: block;
    position: absolute;
    outline: 0;
}
#colaboradores #b-left{
    margin-top: 114px;
    margin-left: 390px;
}
#colaboradores #b-right{
    margin-top: 114px;
    margin-left: 1174px;
}



 /*------------------------------------------------------------------------------------------------------------ */
                                          /*ESTILO DO PORTFOLIO                                                 */
 /*------------------------------------------------------------------------------------------------------------ */

#portfolio{
    margin-top: -20px;
    width: 100%;
    height: auto;
    background: #007bff!important;
}

#portfolio .texto{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
#portfolio .texto p{
    color: #000;
    text-align: justify;
    font-weight: 500;
    text-indent: 3em;
}

#portfolio .port-espacamento{
    margin-top: 20px;
}
#portfolio .bloco-inferior{
    text-align: center;
}
#portfolio .bloco-inferior img{
    max-width: 112px;
    max-height: 112px;
    margin-bottom: 5px;
}

#portfolio .col-custom{
    max-width: 235px;
    max-height: 290px;
    margin-bottom: 45px;
    color: #fff;
}
#portfolio .bloco-inferior .h4-custom{
    margin-top: 20px;
}
#portfolio .bloco-inferior .p-custom{
    margin-top: 17px;
}

/*
IMAGENS DE BACK-END
https://www.textureking.com/content/img/stock/big/DSC_11007.JPG
http://salleedesign.com/assets/home/photo-top.jpg
http://bjoernmeier.com/cms/wp-content/uploads/2013/07/ophelis-docks-new-bjoern-meier-table-seat-1-1500x999.jpg

*/


#portfolio-realizados{
    width: 100%;
    height: 700px;
    margin-top: -20px;
    background-color: rgba(191, 191, 191, 0.38);
}

@media (max-width: 720px){
    #portfolio-realizados .btn-port {
        margin-top: 70px;
        justify-content: center;
    }
}

#portfolio-realizados .btn-port {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

#portfolio-realizados .texto{
    color: #0094e1;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}
#portfolio-realizados .espacamento{
    margin-top: 40px;
}
#portfolio-realizados #owl-demo-portfolio .bordas{
    background: rgba(0,0,0, .5) repeat-x left bottom;
    box-shadow: inset 0px 0px 1px 1px rgb(0, 47, 76);
}

#portfolio-realizados #owl-demo-portfolio a{
    text-align: center;
    font-weight: 600;
    color: #fff;
}
#portfolio-realizados #owl-demo-portfolio a:link {
    text-decoration: none;
}
#portfolio-realizados .nome-evento{
    margin-top: 10px;
    margin-bottom: -10px;
}
#portfolio-realizados .local-evento{
    margin-top: -5px;
}
#portfolio-realizados span{

}

/* IMAGENS DO CAROUSEL */
#owl-demo-portfolio .item{
    margin: 0px;
    width: 350px;
    height: 370px;
}
#owl-demo-portfolio .item img{
    display: block;
    width: 100%;
    height: auto;
    width: 350px;
    height: 250px;
}
/* ------------------------------------- */

/* BOTOES */
#portfolio-realizados #b-port-left, #b-port-right{
    background-color: rgba(0,0,0,.0);
    border: none;
    color: rgba(0,0,0, .5);
    font-size: 55px;
    display: block;
    position: absolute;
    outline: 0;
}
#portfolio-realizados #b-port-left{
    margin-top: -80px;
    margin-left: -200px;
}
#portfolio-realizados #b-port-right{
    margin-top: -80px;
    margin-left: -110px;
}
/* ------------------------------------- */



/* SOBRE EMPRESA JUNIOR */
#empresa-junior{
    background-color: #002f4c;
}

#empresa-junior .texto{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

#empresa-junior.sobre{
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
}
#empresa-junior .sobre p{
    text-indent: 3em;
    color: #fff;
}
#empresa-junior .info{
    margin-top: 40px;
    text-align: center;
    color: #fff;
}
#empresa-junior .info #imagem1{
    margin-right: 40px;
}

/* ------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------ */
/*                                             PAGINA DO CURSO                                                  */
/* ------------------------------------------------------------------------------------------------------------ */

#p-cursos{
    width: 100%;
    height: 1700px;
    margin-top: -20px;
    /*background: rgba(0, 94, 137,0.3);*/
    /*background-image: url("../imagens/fundo_papel.jpg");*/
    background-color: rgba(191, 191, 191, 0.38);
}

#p-cursos .texto{
    color: rgba(0, 94, 137, 1);
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}
#p-cursos .espacamento{
    margin-top: 40px;
}
#p-cursos .blocos{
    width: 100%;
    height: 240px;
    margin-top: 20px;
}
#p-cursos .bordas{
    background: rgba(0,0,0, .4) repeat-x left bottom;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
    border-radius: 20px;
}

#p-cursos #bloco-cursos h3{
    color: #fff;
    text-align: center;
}
#p-cursos #bloco-cursos h4{
    color: #fff;
    text-align: center;
}
#p-cursos #bloco-cursos span{
    color: #000;
    text-align: justify;
    font-family: 'Raleway';
    font-weight: 500;
    text-indent: 3em;
}
#p-cursos #bloco-cursos p{
    color: #000;
    text-align: justify;
    font-family: 'Raleway';
    font-weight: 500;
    text-indent: 3em;
}
#p-cursos #bloco-cursos .p-custom{
    margin: -5px 0 10px;
}



#p-cursos #bloco-cursos img{
    margin-top: 22px;
    margin-left: 5px;
    width: 260px;
    height: 195px;
    border-radius: 20px;
}
/* ESPECIFICO PARA IMAGEM LADO ESQUERDO */
#p-cursos #bloco-cursos button{
    display: block;
    position: absolute;
    margin-left: 65px;
    margin-top: -30px;
    height: 80px;
    width: 137px;
}

/* ESPECIFICO PARA IMAGEM DIREITO */
#p-cursos #bloco-cursos .bloco2 img{
    margin-top: 22px;
    margin-left: -15px;
    width: 260px;
    height: 195px;
}
#p-cursos #bloco-cursos span button {
    display: block;
    position: absolute;
    margin-left: 40px;
    margin-top: -7px;
    height: 70px;
}




/* ------------------------------------------------------------------------------------------------------------ */
/*                                             PAGINA DO CURSO                                                  */
/* ------------------------------------------------------------------------------------------------------------ */

#p-cursos{
    width: 100%;
    height: auto;
    margin-top: -20px;
    /*background: rgba(0, 94, 137,0.3);*/
    /*background-image: url("../imagens/fundo_papel.jpg");*/
    background-color: rgba(191, 191, 191, 0.38);
}

#p-cursos .texto{
    color: rgba(0, 94, 137, 1);
    text-align: center;
    font-weight: 500;
    margin-top: 40px;

}
@media (max-width: 600px){
    #p-cursos .texto h1{
        font-size: 24px;
    }
    #p-cursos .texto h2{
        font-size: 18px;
    }
}
#p-cursos .espacamento{
    margin-top: 40px;
}
#p-cursos .blocos{
    width: 100%;
    height: 240px;
    margin-top: 20px;
}
#p-cursos .bordas{
    background: rgba(0,0,0, .4) repeat-x left bottom;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
    border-radius: 20px;
}



/*
#p-cursos .espacamento-curso{
    margin-top: 50px;
}
#p-cursos #bloco-cursos .col-custom{
    margin-bottom: 15px;
}
#p-cursos #bloco-cursos .cursos-conteudo{
    text-align: justify;
    border: 2px solid #0f0f0f;
    background-color: rgba(249, 248, 246, 0.3);
}
#p-cursos #bloco-cursos .cursos-conteudo:hover{
    background-color: rgba(0, 94, 137, 1);

}
#p-cursos #bloco-cursos .cursos-conteudo p:hover{
    color: #fff;
}
#p-cursos a:link{
    text-decoration: none;
}
#p-cursos #bloco-cursos .cursos-conteudo .titulo-curso{
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
*/


.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
    text-align: justify;
}
.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}
.thumbnail h4 .info > span {
    margin-right: 10px;
}
.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #fff;
}

#p-cursos .espacamento{
    margin-top: 50px;
    margin-bottom: 80px;
}
#p-cursos .thumbnail h4{
    text-align: center;
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
}
#p-cursos .thumbnail .descricao-curso{
    text-align: center;
}
#p-cursos .thumbnail .descricao-avancada{
    text-align: center;
    color: #007bff;
    margin-top: 10px;
}



#p-cursos-outros{
    width: 100%;
    height: 260px;
    background-color: #007bff!important;
    margin-top: -20px;
}

.disabled-custom{
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    background-color: #c3c3c3!important;
    color: #000!important; font-weight: bold;
    border-color: #000!important;
}

@media (max-width: 600px){
    #p-cursos-outros {
        height: 330px;
    }
}

#p-cursos-outros .espacamento{
    margin-top: 40px;
}
#p-cursos-outros .row h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#p-cursos-outros button {
    width: 210px;
    margin: 15px auto;
    font-size: 2.0rem;
    padding: 1.25rem 2.5rem;
    display: block;
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #005e89;
    font-weight: 300;
    font-weight: bold;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#p-cursos-outros button:hover {
    background-color: #005e89;
    color: #ffffff;
    border-color: #005e89;
}




/* ------------------------------------------------------------------------------------------------------------ */
/*                                        PAGINA DE CADASTRO CURSOS                                             */
/* ------------------------------------------------------------------------------------------------------------ */

#info-curso{
    width: 100%;
    height: 200px;
    background-color: #007bff!important;
    text-align: center;
    margin-top: -20px;
    color: #fff;
}

#info-curso .bloco-center{
    margin-top: 50px;
}

@media only screen and (max-width: 480px){
    #info-curso{
        height: 770px;
    }
}

#contato-insc{
    background-color: #007bff;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

#conteudo-cursos{
    width: 100%;
    height: auto;
    background-color: rgba(211,211,211, .5);
}
#conteudo-cursos .texto-espacamento{
    text-align: center;
    margin-top: 50px;
}
#conteudo-cursos .texto-espacamento h1{
    font-size: 2.2em;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}
#conteudo-cursos .texto-espacamento h1 span{
    color: #007bff;
}
#conteudo-cursos .texto-espacamento p{
    font-size: 1.2em;
}
#conteudo-cursos .espacamento-conteudo{
    margin-top: 50px;
    margin-bottom: 40px;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
div.tab button {
    width: 105px;
    font-weight: bold;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #007bff;
    color: #fff;
}
/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(0, 123, 255, .7);
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 55px;
}



#conteudo-cursos .descri-interna{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#conteudo-cursos .descri-interna .desc-tab{
    color: #007bff;
    font-size: 20px;
    margin-top: 15px;
}
#conteudo-cursos .descri-interna i{
    color: #007bff;
}
#conteudo-cursos .divisoria{
    border-top: 1px solid #007bff;
    width: 70%;
}
#conteudo-cursos .descri-interna .texto-descri{
    text-align: justify;
    font-size: 18px;
    color: #000!important;
}
#conteudo-cursos .descri{
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
    font-size: 16px;
    color: #000!important;
}
#conteudo-cursos .descri .ini{
    font-size: 18px;
    color: #007bff!important;
}

#conteudo-cursos .conteudo .conteudos-prog {
    text-align: justify;
    font-size: 18px;
    color: #000!important;
}
#conteudo-cursos .conteudo .conteudos-prog ul{
    list-style-type: none;
    font-weight: 400;
}
#conteudo-cursos #info .descri .desc p{
    text-align: justify;
    font-size: 18px;
    color: #000!important;
}

#conteudo-cursos .bloco-inscri{
    border: 1px solid rgba(68, 68, 68, 0.50);
    border-radius: 4px;
    margin-bottom: 50px;
}
#conteudo-cursos .bloco-inscri button{
    width: 100%;
    height: 100px;
}
#conteudo-cursos .bloco-inscri button p{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
#conteudo-cursos .dentro-inscri{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: #007bff;

}
#conteudo-cursos .dentro-inscri p{
    font-size: 40px;
}
#conteudo-cursos .fa.fa-ticket{
    font-size: 50px;
}





address #contato-insc{
    width: 100%;
    height: 200px;
    background-color: red;!important;
}
address{
    background-color: #007bff;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

#contato-insc .espacamento{
    margin-top: 40px;
}
#contato-insc .row h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#contato-insc a {
    width: 210px;
    margin: 15px auto;
    font-size: 2.0rem;
    padding: 1.25rem 2.5rem;
    display: block;
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #005e89;
    font-weight: 700;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
#contato-insc a:hover {
    background-color: #005e89;
    color: #ffffff;
    border-color: #005e89;
}


@media only screen and (max-width: 480px){
    #conteudo-cursos .bloco-inscri button p {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
    }
    #conteudo-cursos .dentro-inscri p {
        font-size: 27px;
    }
}

/* ------------------------------------------------------------------------------------------------------------ */
/*                                             PAGINA DE CONTATO                                                */
/* ------------------------------------------------------------------------------------------------------------ */

#contato{
    /*background-image: url("../imagens/site-interno/backg.jpg");*/
    background-color: #f8f8f8;
    height: auto;
    width: 100%;
    margin-top: -15px;
}
#parent{
    display: flex;
}
#contato .contato-title{
    padding-top: 40px;
    color: #007bff;
    text-align: center;
}

#tip {
    display:none;
}

.fadeIn {
    animation-duration: 3s;
}

.form-control {
    border-radius:0px;
    border:1px solid #EDEDED;
}

.form-control:focus {
    border:1px solid #007bff;
}

.textarea-contact {
    resize:none;
}
.btn.btn-custom {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 15rem;
    font-size: 2rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn-send {
    border-radius: 0px;
    border:1px solid #007bff;
    background:#007bff;
    color:#fff;
}

.btn-send:hover {
    border:1px solid #007bff;
    background:#fff;
    color:#007bff;
    transition:background 0.5s;
}

.second-portion {
    margin-top:50px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #007bff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: 0px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.box > .icon > .info > p {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 1.5em;
    margin: 20px;
}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a {font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}

.intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60%;
}

@media only screen and (max-width: 768px) {
    .contact-form {
        margin-top:25px;
    }
    .btn-send {
        width: 100%;
        padding:10px;
    }
    .second-portion {
        margin-top:25px;
    }
    #parent{
        display: block;
    }

    .intrinsic-container iframe {
        height: 100%;
    }
}



/* ------------------------------------------------------------------------------------------------------------ */
/*                                            PAGINA DE NOTICIAS                                                */
/* ------------------------------------------------------------------------------------------------------------ */

#myCarousel{
    margin-top: 50px;
}

@media(max-width: 761px) {
    #myCarousel{
        margin-top: 150px;
    }
}

#bloco-noticias{
    height: auto;
    background: rgba(255, 255, 255,0.7);
    margin-top: -20px;
}
#bloco-noticias::after {
    content: "";
    background: url("https://myspotti.de/WebRoot/Store28/Shops/daf0539f-b184-46d2-a0ba-6e3c58fa9ce2/5790/7A51/5E0E/8E2A/6F05/0A48/3572/7790/mySPOTTIpop_HolzWeiss-59x41.jpg");
    opacity: 0.2;
    width: auto;
    height: 2030px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#bloco-noticias  h1, h3 {
    font-weight: 500;
    /*padding: 0px 70px 0px 70px;*/
}
#bloco-noticias  h1{
    font-size: 4.0rem;
    color: #005e89;
    text-transform: uppercase;
}
#bloco-noticias .linha{
    color: #005e89;
    border-top: 2px solid;
    margin-top: 45px;
}
#bloco-noticias .publication-data{
    color: #979797;
    font-size: 17px;
    margin-top: -14px;
}
#bloco-noticias p{
    font-weight: 400;
    font-size: 16px;
}
/*#bloco-noticias .texto-noticia{*/
    /*margin: 0 0 0 0;*/
/*}*/
#bloco-noticias .texto-noticia span{
    font-size: 1.8rem;
    font-weight: 500;

}

#bloco-noticias .image{
    text-align: center;
    margin: 30px 0px 30px 0px;
}
#bloco-noticias .image img{
    /*max-width: 550px;*/
    /*max-height: 420px;*/
    margin-left: 85px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*border: 1px solid #0f0f0f;*/
}

@media (max-width: 600px) {
    #bloco-noticias .image img{
        /*max-width: 550px;*/
        /*max-height: 420px;*/
        margin-left: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        /*border: 1px solid #0f0f0f;*/
    }
}

#bloco-noticias .image span{
    margin-top: 3px;
    color: #005e89;
}

#bloco-noticias a:link, a:visited, a:active {
    /*color: #005e89;*/
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

#bloco-noticias h4 a {
    color: #005e89;
    text-decoration: none;
    cursor: pointer;
}

#bloco-noticias a:hover {
    color: rgba(0, 94, 137, 0.8);
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}
#bloco-noticias .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#bloco-noticias .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


#bloco-noticias .news-noticias img{
    margin-top: 40px;
    margin-left: 8px;
    /*max-height: 250px;*/
    /*max-width: 333px;*/
    /*border: 1px solid #0f0f0f;*/
}
#bloco-noticias .news-noticias p{
    font-size: 20px;
    font-weight: 600;
}
#bloco-noticias .news-noticias a{
    text-decoration: none;
}

#bloco-noticias .ini_secao .linha2{
    color: #005e89;
    border-top: 2.3px solid;
    margin-top: 60px;
}
#bloco-noticias #texto-news{
    text-align: center;
    font-size: 29px;
    color: #005e89;
    font-weight: 700;
}

/*
@media only screen and (min-width: 480px) and (max-width: 767px) {

    #bloco-noticias .texto-noticia{
        margin: 30px -40px 0px -40px;
    }
}
*/


@media (max-width: 600px) {
    #contato-noticias .ini_secao{
        background-color: #007DFF;
        height: 300px;
        width: auto;
    }
}

#contato-noticias{
    height: 300px;
    background: rgba(0, 94, 137, 0.5);
    margin-top: 60px;
}
#contato-noticias::after {
    content: "";
    background: url("../imagens/escritorio.jpg");
    background-repeat: inherit;
    opacity: 0.2;
    width: auto;
    height: 300px;
    top: 2080px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#contato-noticias .ini_secao h1{
    color: #fff;
    font-size: 3.0rem;
    margin-top: 60px;
}

#contato-noticias section button {
    margin: 15px auto;
    font-size: 2.0rem;
    padding: 1.25rem 2.5rem;
    display: block;
    background-color: #ffffff;
    border: 1px solid transparent;
    color: #005e89;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#contato-noticias section button:hover {
    background-color: #005e89;
    color: #ffffff;
    border-color: #005e89;
}


/* ------------------------------------------------------------------------------------------------------------ */
/*                                                 FOOTER                                                                 */
/* ------------------------------------------------------------------------------------------------------------ */


.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #fff;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
    margin-top: 50px;
}
.footer h3 {
    border-bottom: 1px solid #002f4c;
    color: #030307;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #030307;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #002f4c
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
/*.bg-gray {*/
    /*background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);*/
    /*box-shadow: 0 1px 0 #B4B3B3;*/
/*}*/
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #949494;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

/*.social .f-m{*/
    /*margin-left: 80px;*/
/*}*/

/*@media (max-width: 600px){*/
    /*.social .f-m{*/
        /*margin-left: 50px;*/
    /*}*/
/*}*/

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.fa.fa-google-plus{
    margin-top: 6px;
}
.fa.fa-instagram{
    margin-left: 8px;
    font-size: 16px;
}

.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #005E89;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    color: #fff;
}
.payments {
    font-size: 1.5em;
    color: #fff;
}

.subir {
    /*background-color: rgba(31, 41, 40, 0.8);*/
    position: fixed;
    z-index: 100;
    left: 80%;
    bottom: 0;
    padding-bottom: 5px;
    color: #fff;

}
@media screen and (min-width: 768px) {
    .subir { left: 95%;}
}
.fa.fa-angle-double-up{
    font-size: 50px;
    font-weight: 600;
    background-color: rgba(31, 41, 40, 0.8);
}

.subir:hover{
    color: #1caceb;
}


#modal #float-banner-close i{
    color: red;
}
.float-banner {
    z-index: 100;
    top: 700px;
    position: absolute;
    left: 80%;
    width: 390px;
    height: 290px;
    margin-top: 200px;
    margin-left: -200px;
}
.float-banner-close {
    z-index: 101;
    top: 700px;
    position: absolute;
    left: 98%;
    margin-top: 185px;
    margin-left: -80px;
}
@media screen and (max-width: 600px){
    .float-banner img{
        width: 270px;
        height: 170px;
    }
    .float-banner{
        left: 70%;
        width: 390px;
        height: 290px;
        margin-top: 200px;
        margin-left: -200px;
    }
}

